name: '[BE] Build and Deploy Workflow'

on:
  push:
    branches:
      - release-be-dev
      - feature/currency
  workflow_dispatch:
    inputs:
      buildNumber:
        description: 'Build number to deploy (e.g., latest or a specific tag). Default is GitHub build number. '
        required: false
        default: 'latest'
      envCode:
        description: 'Deployment environment (dev, prod)'
        required: false
        default: 'dev'

jobs:
  ci:
    name: Build
    uses: ./.github/workflows/template-ci-be.yml
    with:
      buildNumber: ${{ github.event.inputs.buildNumber || github.run_number || 'latest' }}
      envCode: ${{ github.event.inputs.envCode || 'dev' }}
    secrets: inherit

  cd:
    name: Deploy
    needs: ci
    uses: ./.github/workflows/template-cd-be.yml
    with:
      buildNumber: ${{ github.event.inputs.buildNumber || github.run_number || 'latest' }}
      envCode: ${{ github.event.inputs.envCode || 'dev' }}
    secrets: inherit
